<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  -->
	
		<target xsi:type="File" name="UserService" fileName="c:\HotelWebAPILogs\UserService\nlog-all-exceptions-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
       
        <target xsi:type="File" name="HotelService" fileName="c:\HotelWebAPILogs\HotelService\nlog-all-exceptions-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
				
        <target xsi:type="File" name="RoleService" fileName="c:\HotelWebAPILogs\RoleService\nlog-all-exceptions-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		
		<target xsi:type="File" name="Middleware" fileName="c:\HotelWebAPILogs\Middleware\nlog-all-exceptions-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		
		<logger name="HotelWebAPI.Services.UserService*" minlevel="Trace" writeTo="UserService" />
		<logger name="HotelWebAPI.Services.HotelService*" minlevel="Trace" writeTo="HotelService" />
		<logger name="HotelWebAPI.Services.RoleService*" minlevel="Trace" writeTo="RoleService" />
		<logger name="HotelWebAPI.Middleware*" minlevel="Error" writeTo="Middleware" />
		

	</rules>
</nlog>